.id_row {
	float: left;
	width: 100%;
	background: #CCC;
	padding: 10px;
	margin-bottom: 15px;
}

.id_label {
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.left_column { 
	float: left;
	width: 860px;
}

.right_column {
	float: left;
	margin-left: 20px;
	width: 250px;
}

.left_column_form_block {
    background: #CCC;
    width: 100%;
	padding: 10px;
	float: left;
	margin-bottom: 15px;
}

.form_block {
	background: #CCC;
	width: 360px;
	float: left;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 12px;
}

.form_title { 
	font-size: 14px;
	border-bottom: 1px solid #888;
	margin-bottom: 10px;
	font-weight: bold;
	color: #888;
}

.form_row {
	float: left;
	line-height: 25px;
	margin-bottom: 10px;
	width: 100%;
}

.shop_name_label {
	float: left;
	width: 80px;
}

.supplier_text_field {
	float: left;
	border: 1px solid #AAA;
	border-radius: 3px;
	height: 25px;
	width: 145px !important;
	padding: 0 6px !important;
}

#supplier_shop_name { 
	float: left;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 2px;
    width: 180px;
}

.form_label {
	float: left;
	width: 100px;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 0px !important;
}

.text_field {
	float: left;
	padding: 0px !important;
	padding-left: 2px !important;
	border: 1px solid #AAA;
	border-radius: 3px;
	height: 25px;
	width: 190px;
}

.calendar_icon {
	border: 1px solid #AAA !important;
	border-right: 0px !important;
	padding: 0px 5px !important;
	padding-left: 5px !important;
	padding-right: 3px !important;
}

#order_date {
	background: white;
	cursor: pointer;
}

.text_field_short {
	float: left;
	border: 1px solid #AAA;
	border-radius: 3px;
	height: 25px;
	width: 165px;
}

.list_container { 
	float: left;
	width: 100%;
	height: 265px;
}

.list_body { 
	height: 330px;
	float: left;
	overflow: auto;
	width: 100%;
}

.col_product_name {
	width: 250px;
	overflow: hidden;
}

.col_qty {
	width: 70px;
}

.col_serial_number {
	margin-left: 30px;
	width: 200px;
}

.col_shop_name {
	width: 150px;
}

.col_status {
	width: 50px;
}

.new_item_label {
	float: left;
	line-height: 25px;
}

.product_name_text {
	margin-left: 10px;
	line-height: 28px;
}

.new_item_text_field {
	float: left;
	border: 1px solid #AAA;
	margin-left: 10px;
	border-radius: 3px;
	height: 25px;
	padding: 0px 5px;
}

.product_upc_field { 
	float: left;
	width: 400px;
}

.product_upc_text_field {
	width: 200px !important;
	line-height: 25px;
	margin-left: 18px;
}

.text_field_buttons {
	float: left;
	height: 25px; 
	line-height: 10px;
	font-size: 10px;
}

.text_field_button {
	height: 25px;
	float: left;
	line-height: 10px;
	border: 1px solid #AAA !important;
	position: absolute;
	padding: 4px !important;
}

#get_product_name_button {
	position: absolute;
}

.qty_field {
	float: left;
	width: 190px;
}

.qty_text_field { 
	width: 62px;
}

.unit_price_field {
	float: left;
	width: 200px;
}

.unit_price_text_field {
	width: 100px;
}

.add_item_button {
	float: left;
	height: 25px;
	line-height: 14px;
}

.form-error_message {
	float: left;
	color: red;
	font-weight: bold;
	width: 100%;
}

#list_items {
	float: left;
	width: 100%;
	max-height: 195px;
	overflow: hidden;
}

.list_text_field {
	height: 18px;
	padding: 0px 2px !important; 	
}

.list_product_qty {
	width: 50px; 
}

.list_product_unit_price {
	width: 90px; 
}

.bottom_block {
	float: left;
	width: 100%;
	border-top: 1px solid black;
}

.remark_block {
	float: left;
	width: 65%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.remark_textarea {
	height: 86px !important;
}

.total_amount_block {
	float: left;
	width: 35%;
	margin-top: 10px;
}

.total_amount_row {
	float: left;
	font-weight: bold;
	line-height: 30px;
	font-size: 16px;
	text-align: right;
	width: 100%;
}

.total_amount_row_label {
	float: left;
	width: 130px;
	margin-right: 20px;
}

.total_amount_row_text { 
	float: left;
	width: 150px;
}

.discount_text_field {
	float: left;
	width: 123px;
	margin-left: 5px;
	text-align: right;
	font-size: 16px;
}

.net_total_error_message { 
	display: none;
}

.right_column .form-error_message {
	margin-left: 90px;
}

.submit_button_row {
	float: left;
	padding: 10px;
	background: #999;
	width: 100%;
	height: 50px;
	margin-top: 150px;
}

#no_list_item_error_message { 
	display: none;
}

.result_alert_box {
	width: 500px;
	left: 30%;
	position: fixed;
	top: 10%;
	display: none;
	z-index: 12;
}

.close_result_box { 
	color: #0099CC;
	cursor: pointer;
}
/* 
#product_popup_list .col_upc {
	margin-left: 10px;
	width: 150px;
}

#product_popup_list .col_name {
	width: 750px;
}

#supplier_popup_list .col_code {
	margin-left: 10px;
	width: 100px;
}

#supplier_popup_list .col_name {
	width: 300px;
}

#supplier_popup_list .col_mobile {
	width: 100px;
}

#supplier_popup_list .col_fax {
	width: 100px;
}

#supplier_popup_list .col_email {
	width: 200px;
}
 */
.popup_list_items {
	overflow: auto;
	height: 300px;
	width: 100%;
}

.popup_list_no_record_found_message { 
	display: none;
	line-height: 30px;
	margin-left: 15px;
}